html, body{
	margin: 0;
	padding: 0;
	background-color: #636363;
	background-image: url(../imgs/argyle.png);
	background-repeat: repeat;
}

#banner{
	position: relative;
}

#site-logo-image{
	position: absolute;
	top: -400px;
}

.container{
	margin: 0 auto;
}

.lower-content{
	padding-top: 8px;
	background-color: white;
}


/*NAVBAR */
.navbar{

}



.navbar ul li{
	display: inline-block;
	padding: 0.7em 0.7em;
	margin-top: -5px;
	font-size: 14px;
}

.navbar li.active a{
    color: white;
    padding-left: 5px;
    padding-right:5px;
    border-right: solid 1px white;
    border-left: solid 1px white;
}

.navbar li a:hover{
    color: #4f8763;
}

.navbar{
	height: 50px;

}

.main-navbar{
	background-color: black;
}

/*SIDEBAR RIGHT*/
.sidebar-right{
	border-top: 5px solid #d2ddd6;
	border-right: 2px solid #d2ddd6;
	border-left:2px solid #d2ddd6;
	border-bottom:2px solid #d2ddd6;
	padding: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	-webkit-box-shadow: 12px 16px 48px -13px rgba(0,0,0,0.35);
    -moz-box-shadow: 12px 16px 48px -13px rgba(0,0,0,0.35);
	box-shadow: 12px 16px 48px -13px rgba(0,0,0,0.35);

}

/*CONTENT*/
.main-content{
	text-align: center;
}

.main-content-shadow{
	-webkit-box-shadow: 12px 6px 48px -13px rgba(0,0,0,0.35);
    -moz-box-shadow: 12px 6px 48px -13px rgba(0,0,0,0.35);
	box-shadow: 12px 6px 48px -13px rgba(0,0,0,0.35);
	border: 1px solid #d2ddd6;
	background-color: rgba(204, 204, 204, 0.4);
	border-radius: 2px;
}

#footer{
	padding: 1.5em;
	height: 75px;
	background-color: black;
	color: white;
	text-align: center;
}

.padding-bottom{
	padding-bottom: 20px;
}

#block-views-podcasts-block{
	text-align: center;
}

#block-views-blog-block-1{
	text-align: center;
}

#block-views-gallery-block-1{
	text-align: center;
}


/*.podcast-node-styling{
	margin: auto;
	border: 1px solid #d2ddd6;
	background-color: rgba(204, 204, 204, 0.6);
	border-radius: 2px;
}*/